In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score,f1_score,recall_score,precision_score

In [ ]:
#load the dataset
df = pd.read_csv('/content/data_train.csv')
df

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,-,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,-,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,-,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,-,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8702,1,38,1,2,4,1,16,12,2,9,1,1,3.0,1,0,0,0,0
8703,1,32,1,2,4,1,4,1,2,12,1,1,1.5,1,0,0,0,0
8704,1,24,1,1,7,1,5,10,1,4,1,1,0.0,0,0,0,0,0
8705,1,31,1,2,4,1,1,6,2,7,1,1,0.0,0,3,6,237,0
8706,1,40,1,2,4,1,5,4,1,2,1,1,0.0,0,3,6,263,0

In [ ]:
#Data Preprocessing
df.describe()

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Changed_phone_number
count,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000
mean,0.923050,37.690479,1.147468,1.622488,4.540829,1.032043,10.485012,6.360859,1.462157,11.207190,1.119789,1.100838,2.132932,0.957505,0.547491,1.082807,0.112094
std,0.266527,10.750031,0.354592,0.484792,1.053161,0.176125,5.597442,3.405988,0.498594,3.020191,0.366915,0.315294,2.225331,0.201726,1.190702,2.447644,0.344394
min,0.000000,19.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,29.000000,1.000000,1.000000,4.000000,1.000000,6.000000,3.000000,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,36.000000,1.000000,2.000000,4.000000,1.000000,13.000000,6.000000,1.000000,12.000000,1.000000,1.000000,1.700000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,44.000000,1.000000,2.000000,5.000000,1.000000,14.000000,9.000000,2.000000,13.000000,1.000000,1.000000,2.800000,1.000000,0.000000,0.000000,0.000000
max,1.000000,79.000000,2.000000,2.000000,7.000000,2.000000,22.000000,12.000000,2.000000,14.000000,5.000000,4.000000,86.300000,1.000000,4.000000,11.000000,3.000000

In [ ]:
df.head()

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,-,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,-,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,-,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,-,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,-,1

In [ ]:
df.shape

(8707, 18)

In [ ]:
df['Score_point'].value_counts()

Score_point
0      6571
-       590
293     198
294     156
285      85
       ...
174       1
322       1
283       1
175       1
323       1
Name: count, Length: 193, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8707 entries, 0 to 8706
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   label                 8707 non-null   int64
 1   Age                   8707 non-null   int64
 2   Language              8707 non-null   int64
 3   Sex                   8707 non-null   int64
 4   Marital               8707 non-null   int64
 5   Has_Credit            8707 non-null   int64
 6   Field                 8707 non-null   int64
 7   Month_of_birth        8707 non-null   int64
 8   Day_of_birth          8707 non-null   int64
 9   Region                8707 non-null   int64
 10  Number_of_credits     8707 non-null   int64
 11  Linked_cards          8707 non-null   int64
 12  INPS_mln_sum          8707 non-null   float64
 13  INPS_yes_no           8707 non-null   int64
 14  Score_level           8707 non-null   int64
 15  Score_class           8707 non-null   int64
 16  Score_point           8707 non-null   object
 17  Changed_phone_number  8707 non-null   int64
dtypes: float64(1), int64(16), object(1)
memory usage: 1.2+ MB

In [ ]:
df.isnull().sum()

label                   0
Age                     0
Language                0
Sex                     0
Marital                 0
Has_Credit              0
Field                   0
Month_of_birth          0
Day_of_birth            0
Region                  0
Number_of_credits       0
Linked_cards            0
INPS_mln_sum            0
INPS_yes_no             0
Score_level             0
Score_class             0
Score_point             0
Changed_phone_number    0
dtype: int64

In [ ]:
x=df.drop(['Score_point'],axis=1)
y=df['Score_point']
print(x.head())
print(y.head())

   label  Age  Language  Sex  Marital  Has_Credit  Field  Month_of_birth  \
0      0   34         1    2        6           2     13              12
1      0   38         1    1        5           1     10               7
2      0   35         1    2        4           2      9               8
3      0   27         1    1        5           2     13               7
4      0   32         1    2        4           2     10               7

   Day_of_birth  Region  Number_of_credits  Linked_cards  INPS_mln_sum  \
0             1      12                  1             0           0.0
1             1      13                  1             2           0.0
2             1      13                  4             1           1.0
3             1      12                  1             2           1.0
4             1      13                  3             1           2.0

   INPS_yes_no  Score_level  Score_class  Changed_phone_number
0            0            0            0                     1
1            0            0            0                     1
2            1            0            0                     1
3            0            0            0                     1
4            1            0            0                     1
0    -
1    -
2    -
3    -
4    -
Name: Score_point, dtype: object

In [ ]:
# Split into train and test sets
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
print(train_x.head())
print(train_y.head())

      label  Age  Language  Sex  Marital  Has_Credit  Field  Month_of_birth  \
3880      1   35         2    2        4           1      9              12
8661      1   22         1    1        5           1     10               2
3225      1   37         1    2        4           1     14               9
6621      1   35         1    2        4           1     11               9
3067      1   31         1    2        4           1     14               4

      Day_of_birth  Region  Number_of_credits  Linked_cards  INPS_mln_sum  \
3880             2      13                  1             1           0.2
8661             2       4                  1             1           4.2
3225             2      12                  1             1           1.0
6621             2      13                  1             1           0.3
3067             2      13                  1             1           2.5

      INPS_yes_no  Score_level  Score_class  Changed_phone_number
3880            1            0            0                     0
8661            1            0            0                     0
3225            1            0            0                     0
6621            1            0            0                     0
3067            1            0            0                     0
3880    0
8661    0
3225    0
6621    0
3067    0
Name: Score_point, dtype: object

In [ ]:
# Standardize the features
sc = StandardScaler()
X_train = sc.fit_transform(train_x)
X_test = sc.transform(test_x)

# Logistic Regression Model

In [ ]:
#Train the logistic regression model
from sklearn.linear_model import LogisticRegression
model_lr=LogisticRegression(max_iter=1000)
model_lr.fit(train_x,train_y)
y_pred_train=model_lr.predict(train_x)
y_pred_test=model_lr.predict(test_x)

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
print(y_pred_train)

['0' '0' '0' ... '0' '0' '293']

In [ ]:
print(y_pred_test)

['0' '0' '0' ... '0' '0' '0']

In [ ]:
#accuracy of the logistic regression model
accuracy_train=accuracy_score(train_y,y_pred_train)
print("accuracy of the logistic regression model on your train", accuracy_train)
accuracy_test = accuracy_score(test_y, y_pred_test)
print("accuracy of the logistic regression model on your test", accuracy_test)

accuracy of the logistic regression model on your train 0.904091888011486
accuracy of the logistic regression model on your test 0.8817451205510907

In [ ]:
confusion_matrix(train_y,y_pred_train)

array([[ 469,    0,    0, ...,    0,    0,    0],
       [   0, 5266,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,    1,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    1]])

In [ ]:
confusion_matrix(test_y, y_pred_test)

array([[ 121,    0,    0, ...,    0,    0,    0],
       [   0, 1305,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0]])

In [ ]:
predictions = model_lr.predict_proba(X_test)
predictions

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[1.64456474e-02, 1.61173101e-01, 1.08764870e-03, ...,
        2.12737908e-03, 1.80189128e-04, 5.19929208e-04],
       [7.83040847e-01, 5.73022999e-02, 9.95200707e-04, ...,
        3.59222454e-02, 2.29842126e-06, 7.48246620e-07],
       [8.71714650e-03, 7.00573132e-02, 1.07608028e-03, ...,
        2.32555292e-03, 2.09093600e-03, 2.79681291e-03],
       ...,
       [4.48855930e-03, 1.76430411e-01, 1.10565107e-03, ...,
        2.84130844e-03, 7.35463163e-04, 5.73226733e-04],
       [8.63148166e-03, 9.60682751e-02, 9.18614935e-04, ...,
        4.87070479e-04, 5.57912972e-03, 2.02701592e-03],
       [3.70492967e-02, 1.76427138e-01, 7.37374860e-04, ...,
        3.50734224e-04, 3.48223112e-03, 9.62794306e-04]])

In [ ]:
# predict f1_score,precision,recall

f1 = f1_score(test_y, y_pred_test, average='weighted')
print("f1_score of the logistic regression model on your test", f1)

precision = precision_score(test_y, y_pred_test, average='weighted')
print("precision of the logistic regression model on your test", precision)

recall = recall_score(test_y, y_pred_test, average='weighted')
print("recall of the logistic regression model on your test", recall)

f1_score of the logistic regression model on your test 0.862657718765694
precision of the logistic regression model on your test 0.8544058685519135
recall of the logistic regression model on your test 0.8817451205510907

/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:

metrics = {
    'Accuracy (Train)': accuracy_train,
    'Accuracy (Test)': accuracy_test,
    'F1-Score': f1,
    'Precision': precision,
    'Recall': recall
}

In [ ]:

metrics_df = pd.DataFrame([metrics])
metrics_df

   Accuracy (Train)  Accuracy (Test)  F1-Score  Precision    Recall
0               1.0         0.839265  0.862658   0.854406  0.881745